{% extends 'index.html' %}


            {% block content %}
            <main class="content">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="card-title mb-0">Ticket Logs</h5>
        
                                    <!-- Search Bar -->
                                    <form class="row g-2" role="search" action="{% url 'searchdata' %}" method="GET">
                                        <div class="col-auto">
                                            <input type="search" class="form-control" placeholder="Search" aria-label="Search" name="query" value="{{ query|default:'' }}">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-outline-success">Search</button>
                                        </div>
                                    </form>
                                </div>
        
                                <!-- Table -->
                                <table class="table table-hover my-0 w-100" id="ticketTable">
                                    <thead>
                                        <tr>
                                            <th>Ticket ID</th>
                                            <th>Time Stamp</th>
                                            <th>Client</th>
                                            <th>ID Number</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th>Created By</th>
                                            <th>Assigned To</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ticketTableBody">
                                        <!-- Ticket rows will be dynamically added here -->
                                        {% if page_obj.object_list|length == 0 %}
                                        <tr>
                                            <td colspan="8" style="text-align: center;"><h5>No results found</h5></td>
                                        </tr>
                                        {% endif %}

                                        {% if request.user.is_superuser  %}
                                            {% for ticket in page_obj2 %}
                                                
                                                <tr>
                                                    <td>#{{ticket.ticket_number}}</td>
                                                    <td>{{ticket.created_at}}</td>
                                                    <td>{{ticket.client_type|title}}</td>
                                                    <td class="d-none d-xl-table-cell">{{ticket.id_number}}</td>
                                                    <td class="d-none d-xl-table-cell">{{ticket.category}}</td>
                                                    <td><span class="badge {% if ticket.status == 'Done' %}bg-success {% elif ticket.status == 'In Progress' %}bg-warning{% else %}bg-danger{% endif %}">{{ticket.status}}</span></td>
                                                    <td class="d-none d-md-table-cell">{{ticket.user.username|title}}</td>
                                                    <td class="d-none d-md-table-cell">{{ticket.assigned_to|title}}</td>
                                                    <td><button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#infoModal{{ ticket.id }}" data-bs-placement="top" data-bs-toggle="tooltip1" title="View More Information">
                                                        More
                                                    </button>
                                                
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="infoModal{{ ticket.id }}" tabindex="-1" aria-labelledby="infoModalLabel{{ ticket.id }}" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="infoModalLabel{{ ticket.id }}">More Information</h1>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p><b>ID Number</b>: {{ ticket.id_number|title }}</p>
                                                                    <p><b>Client Type</b>: {{ ticket.client_type|title }}</p>
                                                                    <p><b>Category</b>: {{ticket.category}}</p>
                                                                    <p><b>Description</b>: {{ ticket.description|title }}</p>
                                                    
                                                                    <form method="post" action="{% url 'update_ticket_status' ticket.id %}">
                                                                        {% csrf_token %}
                                                                        <label for="status">Status:</label>
                                                                        <select id="status" name="status" class="form-control">
                                                                            <option value="In Progress" {% if ticket.status == "In Progress" %}selected{% endif %}>In Progress</option>
                                                                            <option value="Done" {% if ticket.status == "Done" %}selected{% endif %}>Done</option>
                                                                            <option value="Assigned" {% if ticket.status == "Assigned" %}selected{% endif %}>Assigned</option>
                                                                        </select>
                                                                        
                                                                        <label for="assigned_user">Assign To:</label>
                                                                        <select id="assigned_user" name="assigned_user" class="form-control">
                                                                            <option value="" {% if not ticket.assigned_to %}selected{% endif %}>-- None --</option>
                                                                            {% for user in all_users %}
                                                                                <option value="{{ user.username }}" {% if ticket.assigned_to == user.username %}selected{% endif %}>
                                                                                    {{ user.username|title }}
                                                                                </option>
                                                                            {% endfor %}
                                                                        </select>

                                                                    
                                                                        <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Save</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                        
                                                    
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            {% for ticket in page_obj %}
                                                
                                            <tr>
                                                <td>#{{ticket.ticket_number}}</td>
                                                <td>{{ticket.created_at}}</td>
                                                <td>{{ticket.client_type|title}}</td>
                                                <td class="d-none d-xl-table-cell">{{ticket.id_number}}</td>
                                                <td class="d-none d-xl-table-cell">{{ticket.category}}</td>
                                                <td><span class="badge {% if ticket.status == 'Done' %}bg-success {% elif ticket.status == 'In Progress' %}bg-warning{% else %}bg-danger{% endif %}">{{ticket.status}}</span></td>
                                                <td class="d-none d-md-table-cell">{{ticket.user.username|title}}</td>
                                                <td class="d-none d-md-table-cell">{{ticket.assigned_to|title}}</td>
                                                <td><button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#infoModal{{ ticket.id }}" data-bs-placement="top" data-bs-toggle="tooltip1" title="View More Information">
                                                    More
                                                </button>
                                            
                                                <!-- Modal -->
                                                <div class="modal fade" id="infoModal{{ ticket.id }}" tabindex="-1" aria-labelledby="infoModalLabel{{ ticket.id }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="infoModalLabel{{ ticket.id }}">More Information</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p><b>ID Number</b>: {{ ticket.id_number|title }}</p>
                                                                <p><b>Client Type</b>: {{ ticket.client_type|title }}</p>
                                                                <p><b>Category</b>: {{ticket.category}}</p>
                                                                <p><b>Description</b>: {{ ticket.description|title }}</p>
                                                
                                                                <form method="post" action="{% url 'update_ticket_status' ticket.id %}">
                                                                    {% csrf_token %}
                                                                    <label for="status">Status:</label>
                                                                    <select id="status" name="status" class="form-control">
                                                                        <option value="In Progress" {% if ticket.status == "In Progress" %}selected{% endif %}>In Progress</option>
                                                                        <option value="Done" {% if ticket.status == "Done" %}selected{% endif %}>Done</option>
                                                                        <option value="Assigned" {% if ticket.status == "Assigned" %}selected{% endif %}>Assigned</option>
                                                                    </select>
                                                                    
                                                                    <label for="assigned_user">Assign To:</label>
                                                                    <select id="assigned_user" name="assigned_user" class="form-control">
                                                                        <option value="" {% if not ticket.assigned_to %}selected{% endif %}>-- None --</option>
                                                                        {% for user in all_users %}
                                                                            <option value="{{ user.username }}" {% if ticket.assigned_to == user.username %}selected{% endif %}>
                                                                                {{ user.username|title }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>

                                                                
                                                                    <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Save</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                    
                                                
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                       
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                        <div class="pagination justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1" aria-label="First">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                    <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                    {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </main>
            
        

        {% endblock %}

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="https://helpdesk.knust.edu.gh/" target="_blank"><strong>USSD</strong></a> - <a class="text-muted" href="https://helpdesk.knust.edu.gh/" target="_blank"><strong>Ticketing System</strong></a>								&copy;
							</p>
						</div>
						
					</div>
				</div>
			</footer>
		</div>
	</div>

    <script>
        feather.replace();
    </script>

<script>
    function toggleAssignField(status) {
        const assignUserGroup = document.getElementById('assignUserGroup');
        assignUserGroup.style.display = status === 'Assigned' ? 'block' : 'none';
    }
</script>

</body>

</html>