{% load widget_tweaks %}
<form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    <div class="modal-body" style="text-align: left;">
        {% for field in form %}
        <div class="form-group" style="text-align: left;">
            <label for="{{ field.id_for_label }}" class="col-form-label">{{ field.label }}</label>
            {% render_field field class="form-control" %}
            {% if field.errors %}
            <div class="alert alert-danger">
                {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
