{% extends 'index.html' %}


            {% block content %}
            <main class="content">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="card-title mb-0">Ticket Logs</h5>
        
                                    <!-- Search Bar -->
                                    <div>
                                        <input type="text" id="searchInput" class="form-control" placeholder="Search by ID Number" onkeyup="searchTable()">
                                    </div>
                                </div>
        
                                <!-- Table -->
                                <table class="table table-hover my-0 w-100" id="ticketTable">
                                    <thead>
                                        <tr>
                                            <th>Ticket ID</th>
                                            <th>Time Stamp</th>
                                            <th>Client</th>
                                            <th>ID Number</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th>Agent</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ticketTableBody">
                                        <!-- Ticket rows will be dynamically added here -->
                                        
                                        {% for ticket in tickets_by_user %}
                                            <tr>
                                                <td>#{{ticket.ticket_number}}</td>
                                                <td>{{ticket.created_at}}</td>
                                                <td>{{ticket.client_type}}</td>
                                                <td class="d-none d-xl-table-cell">{{ticket.id_number}}</td>
                                                <td class="d-none d-xl-table-cell">{{ticket.category}}</td>
                                                <td><span class="badge {% if ticket.status == 'Done' %}bg-success {% elif ticket.status == 'In Progress' %}bg-warning{% else %}bg-danger{% endif %}">{{ticket.status}}</span></td>
                                                <td class="d-none d-md-table-cell">{{ticket.user.username}}</td>
                                                <td><button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#infoModal{{ ticket.id }}" data-bs-placement="top" data-bs-toggle="tooltip1" title="View More Information">
                                                    More
                                                </button>
                                            
                                                <!-- Modal -->
                                                <div class="modal fade" id="infoModal{{ ticket.id }}" tabindex="-1" aria-labelledby="infoModalLabel{{ ticket.id }}" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="infoModalLabel{{ ticket.id }}">More Information</h1>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p><b>ID Number</b>: {{ ticket.id_number|title }}</p>
                                                                <p><b>Client Type</b>: {{ ticket.client_type }}</p>
                                                                <p><b>Description</b>: {{ ticket.description }}</p>
                                                
                                                                <form method="post" action="{% url 'update_ticket_status' ticket.id %}">
                                                                    {% csrf_token %}
                                                                    
                                                                    <div class="form-group">
                                                                        <label for="ticketStatus">Status:</label>
                                                                        <select class="form-control" id="ticketStatus" name="status" onchange="toggleAssignField(this.value)">
                                                                            <option value="In Progress">In Progress</option>
                                                                            <option value="Done">Done</option>
                                                                            <option value="Assigned">Assigned</option>
                                                                        </select>
                                                                    </div>
                                                                
                                                                    <div class="form-group" id="assignUserGroup" style="display: block;">
                                                                        <label for="assignUser">Assign To:</label>
                                                                        <select class="form-control" id="assignUser" name="assigned_user">
                                                                            {% for user in all_users %}
                                                                                <option value="{{ user.username }}">{{ user.username }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                    
                                                
                                            </tr>
                                            {% endfor %}
        
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        

        {% endblock %}

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-muted" href="https://helpdesk.knust.edu.gh/" target="_blank"><strong>USSD</strong></a> - <a class="text-muted" href="https://helpdesk.knust.edu.gh/" target="_blank"><strong>Ticketing System</strong></a>								&copy;
							</p>
						</div>
						
					</div>
				</div>
			</footer>
		</div>
	</div>

    <script>
        feather.replace();
    </script>

<script>
    function toggleAssignField(status) {
        const assignUserGroup = document.getElementById('assignUserGroup');
        
        if (status === 'Assigned') {
            assignUserGroup.style.display = 'block';  // Show the "Assign To" field
        } else {
            assignUserGroup.style.display = 'none';   // Hide the "Assign To" field
        }
    }
</script>

</body>

</html>